stages:
  - build
  - test
  - package
  - test-deploy

.only_run_on_default_branch_rules:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

variables:
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  MATURIN_PACKAGE_REG_USERNAME: gitlab-ci-token
  MATURIN_PACKAGE_REG_PASSWORD: ${CI_JOB_TOKEN}
  MATURIN_PACKAGE_REG_INDEX: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
  PYPI_INDEX_URL: https://${MATURIN_PACKAGE_REG_USERNAME}:${MATURIN_PACKAGE_REG_PASSWORD}@${MATURIN_PACKAGE_REG_INDEX}

build-py3.10:
  stage: build
  tags:
    - shell
  script:
    - docker build -t $CONTAINER_TEST_IMAGE --build-arg UID=$(id -u) --build-arg PYTHON_VERSION=3.10 .
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $CONTAINER_TEST_IMAGE

test:
  stage: test
  image: $CONTAINER_TEST_IMAGE
  tags:
    - docker
  script:
    - cd rust/map3d
    - /home/rust/.cargo/bin/cargo test # not sure why its' not finding cargo bin

package:
  stage: package
  image: $CONTAINER_TEST_IMAGE
  tags:
    - docker
  # rules:
  #   - !reference [.only_run_on_default_branch_rules, rules]
  script:
    - cd rust/rustmap3d_py
    - /home/rust/.venv/bin/python -m maturin publish --username ${MATURIN_PACKAGE_REG_USERNAME} --password ${MATURIN_PACKAGE_REG_PASSWORD} --repository-url ${MATURIN_PACKAGE_REG_INDEX}

test-deployed-py3.10:
  stage: test-deploy
  image: python:3.10-slim
  tags:
    - docker
  script:
    - pip install rustmap3d --index-url ${PYPI_INDEX_URL}
    - python <<< "import rustmap3d; print(rustmap3d.lla2ecef(34.7360763315566, -86.68180974918423, 0))"
