# see dagger project for gitlab runner requirements: https://gitlab.sdo.psdo.leidos.com/alphamosaic/utilities/dagger/-/tree/main/cicd?ref_type=heads

stages:
  - code
  - test
  - pre-release
  - publish
  - release

variables:
  # todo: remove me once we're back on main
  DAGGER_PYO3_MOD_BRANCH: feat/pyo3
  DAGGER_RELEASE_MOD_BRANCH: feat/pyo3
  DAGGER_RUST_MOD_BRANCH: feat/pyo3

include:
  - project: alphamosaic/utilities/dagger
    ref: feat/pyo3
    file:
      - cicd/python/code.yml
      - cicd/pyo3/test-py.yml
      - cicd/pyo3/test-rs.yml
      - cicd/pyo3/publish.yml
      - cicd/pyo3/release.yml