stages:
    - build
    - test
    - package
    # - test-deploy

.only_run_on_default_branch_rules:
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

variables:
    CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
    MATURIN_PACKAGE_REG_USERNAME: https://gitlab-ci-token
    MATURIN_PACKAGE_REG_PASSWORD: ${CI_JOB_TOKEN}
    MATURIN_PACKAGE_REG_INDEX: ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi

build-py3.10:
  stage: build
  tags: 
    - shell
  script:
    - echo ${PACKAGE_REG_INDEX}
    - docker build -t $CONTAINER_TEST_IMAGE --build-arg UID=$(id -u) --build-arg PYTHON_VERSION=3.10 .
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $CONTAINER_TEST_IMAGE

test:
  stage: test
  image: $CONTAINER_TEST_IMAGE
  tags:
    - docker
  script:
    - cd rust/map3d
    - /home/rust/.cargo/bin/cargo test

package:
  stage: package
  image: $CONTAINER_TEST_IMAGE
  tags:
    - docker
  # rules:
  #   - !reference [.only_run_on_default_branch_rules, rules]
  script:
    - cd rust/rustmap3d
    # pypi cant accept the same name/version: https://forum.gitlab.com/t/pypi-repository-package-doesnt-override-packages-with-the-same-version/41020/5
    - maturin publish --username ${MATURIN_PACKAGE_REG_USERNAME} --password ${MATURIN_PACKAGE_REG_PASSWORD} --repository-url ${MATURIN_PACKAGE_REG_INDEX}

# test-amsim-deploy:
#   stage: test-deploy
#   image: python:3.10-slim
#   tags:
#     - am-docker
#   script:
#     - apt-get update && apt-get install ffmpeg libsm6 libxext6  -y  # python:3.10-slim image does not have gl libs out-of-the-box
#     - pip install amSim --index-url ${PACKAGE_REG_INDEX}
#     - python <<< "import amSim; print('amSim successfully installed');"
#     # todo: test function
# 
# test-amcds-deploy:
#   stage: test-deploy
#   image: python:3.10-slim
#   tags:
#     - am-docker
#   script:
#     - apt-get update && apt-get install ffmpeg libsm6 libxext6  -y
#     - pip install amCDS --index-url ${PACKAGE_REG_INDEX}
#     - python <<< "import amCDS, amSim; print('amSim successfully installed');"
#     # todo: test function
# 
# test-amgym-deploy:
#   stage: test-deploy
#   image: python:3.10-slim
#   tags:
#     - am-docker
#   script:
#     - apt-get update && apt-get install ffmpeg libsm6 libxext6  -y
#     - pip install amgym --index-url ${PACKAGE_REG_INDEX}
#     - python <<< "import amCDS, amSim, amgym, amformations; print('amgym successfully installed');"
#     # todo: test function

