stages:
  - build
  - test
  - bench
  - publish
  - test-deploy

variables:
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  MATURIN_PACKAGE_REG_USERNAME: gitlab-ci-token
  MATURIN_PACKAGE_REG_PASSWORD: ${CI_JOB_TOKEN}
  MATURIN_PACKAGE_REG_INDEX: ${CI_API_V4_URL}/projects/4516/packages/pypi
  PYPI_INDEX_URL: ${MATURIN_PACKAGE_REG_INDEX}/simple

build:
  stage: build
  tags:
    - shell
  script:
    - docker build -t ${CONTAINER_TEST_IMAGE} --build-arg UID=$(id -u) .
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push ${CONTAINER_TEST_IMAGE}

test:
  stage: test
  image: $CONTAINER_TEST_IMAGE
  tags:
    - docker
  script:
    - cd rust/map3d
    - cargo test --release

bench:
  stage: bench
  image: $CONTAINER_TEST_IMAGE
  tags:
    - docker
  script:
    - cd rust/map3d
    - cargo bench
  artifacts:
    when: on_success
    expire_in: "30 days"
    paths:
      - rust/map3d/target/criterion/*

publish-package:
  stage: publish
  image: $CONTAINER_TEST_IMAGE
  tags:
    - docker
  script:
    - ./scripts/build-wheels.sh 
    # upload wheels to gitlab registry
    - /home/rust/.venv/bin/python -m maturin upload 
        --skip-existing 
        --username ${MATURIN_PACKAGE_REG_USERNAME} 
        --password ${MATURIN_PACKAGE_REG_PASSWORD} 
        --repository-url ${MATURIN_PACKAGE_REG_INDEX}
        rust/rustmap3d_py/target/wheels/*

    - /home/rust/.venv/bin/python -m maturin upload 
        --skip-existing 
        --username ${ACT3_USERNAME} 
        --password ${ACT3_TOKEN} 
        --repository-url ${ACT3_PACKAGE_REG}
        --verbose
        rust/rustmap3d_py/target/wheels/*

test-deployed-py3.8:
  stage: test-deploy
  image: python:3.8-slim
  tags:
    - docker
  script:
    - pip install rustmap3d --index-url ${PYPI_INDEX_URL}
    - python <<< "import rustmap3d; print(rustmap3d.lla2ecef(34.7360763315566, -86.68180974918423, 0))"
test-deployed-py3.9:
  stage: test-deploy
  image: python:3.9-slim
  tags:
    - docker
  script:
    - pip install rustmap3d --index-url ${PYPI_INDEX_URL}
    - python <<< "import rustmap3d; print(rustmap3d.lla2ecef(34.7360763315566, -86.68180974918423, 0))"
test-deployed-py3.10:
  stage: test-deploy
  image: python:3.10-slim
  tags:
    - docker
  script:
    - pip install rustmap3d --index-url ${PYPI_INDEX_URL}
    - python <<< "import rustmap3d; print(rustmap3d.lla2ecef(34.7360763315566, -86.68180974918423, 0))"
test-deployed-py3.11:
  stage: test-deploy
  image: python:3.11-slim
  tags:
    - docker
  script:
    - pip install rustmap3d --index-url ${PYPI_INDEX_URL}
    - python <<< "import rustmap3d; print(rustmap3d.lla2ecef(34.7360763315566, -86.68180974918423, 0))"
test-deployed-py3.12:
  stage: test-deploy
  image: python:3.12-slim
  tags:
    - docker
  script:
    - pip install rustmap3d --index-url ${PYPI_INDEX_URL}
    - python <<< "import rustmap3d; print(rustmap3d.lla2ecef(34.7360763315566, -86.68180974918423, 0))"