# see dagger project for gitlab runner requirements: https://gitlab.sdo.psdo.leidos.com/alphamosaic/utilities/dagger/-/tree/main/cicd?ref_type=heads

stages:
  - test
  - pre-release
  - publish
  - release

variables:
  DAGGER_PYO3_MOD_BRANCH: feat/pyo3
  DAGGER_RELEASE_MOD_BRANCH: feat/pyo3

include:
  - project: alphamosaic/utilities/dagger
    ref: feat/pyo3
    file:
      - cicd/pyo3/test-py.yml
      - cicd/pyo3/test-rs.yml
      - cicd/release.yml
      - cicd/python/publish.yml

publish-leidos-packages:
  script:
    - dagger call -m=${DAGGER_PATH}/pyo3@${DAGGER_PYO3_MOD_BRANCH} 
          --src=./
        build-and-publish-whls 
          --pythons=3.10,3.11,3.12,3.13 
          --targets=x86_64-unknown-linux-gnu,aarch64-unknown-linux-gnu,x86_64-pc-windows-gnu,aarch64-apple-darwin 
          --publish_url=${AM_PYPI_REG_UPLOAD_URL}
          --gitlab_token=${CI_JOB_TOKEN}

git-create-release-branch:
  script:
    - dagger
          -m=${DAGGER_PATH}/release@${DAGGER_RELEASE_MOD_BRANCH} 
        call
          -v --src=./ --base_image_name=rust:latest --version=$RELEASE_VERSION
        gen-py-stubs
        create-changelog
          --changelog_file=${CHANGELOG_FILE}
        create-version-file
          --version_file=${VERSION_FILE}
        bump-toml-version
          --toml_file=Cargo.toml
          --toml_key=package.version
        bump-toml-version
          --toml_file=Cargo.toml
          --toml_key=workspace.package.version
        uv-lock
        ruff-format
        ruff-check-fix
        commit-to-release-branch
          --gitlab-token="${GITLAB_RELEASE_BOT_TOKEN}"
          --git-project-url="${CI_SERVER_URL:8}/$CI_PROJECT_PATH.git"
        ctr 
        stdout