[package]
name = "rustmap3d"
version = "0.2.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rustmap3d"
crate-type = ["cdylib"]

[dependencies]

map3d = { path = "crates/map3d" }

pyo3 = { version = "0.27", features = ["extension-module", "generate-import-lib"] }
pyo3-stub-gen = "~0.17"
glam = "*"

[features]
extension-module = ["pyo3/extension-module"]